<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<header th:replace="fragments/commons::nav"></header>
<body>
<main>
<div class="wrapper">
    <!-- Navigation -->

    <div class="info">
        <div></div>
        <div>
            <h4>Info about Us</h4>
            Pure Future App is the newest online marketplace dedicated to buying and selling new cleanings agents.
            At any given time, the site has a wide variety of hygienic and cleaning chemistry for kitchen,bathroom,WC, clothes, and more.
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</main>
<footer th:replace="fragments/commons::footer">

</footer>
</body>


</html>