<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1 style="background-color:yellowgreen; color:midnightblue">Welcome to Pure Future App</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Pure Future App is the newest online marketplace dedicated to buying and selling new cleanings agents.
            At any given time, the site has a wide variety of hygienic and cleaning chemistry for kitchen,bathroom,WC, clothes, and more.</p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="text-primary" th:href="@{/login}">Login</a>
            if you have an account or
            <a class="text-primary" th:href="@{/register}">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>